<% unless resource.errors.full_messages_for(field).empty? %>
  <% resource.errors.full_messages_for(field).each do |error| %>
    <p class="text-red-500 text-xs italic"><%= error %></p>
  <% end %>
<% end %>
