<div class="text-center my-8 text-2xl">
  Hi, press this button to get new random meal recipe!
</div>
<div class="text-center my-8 text-2xl">
  <%= link_to "Random meal", random_meal_path, class: "bg-teal-500 hover:bg-teal-700 text-white py-4 px-8 rounded inline-block" %>
</div>
